.first{
    background-color: lawngreen;
    padding: 10px;
    margin: 10px;
    font-size: medium;

}
.jk{
    background-color: rgb(255, 127, 202);
    padding: 10px;
    margin: 10px;
    font-size: medium; 
}
.kl{
    background-color: rgb(255, 246, 127);
    padding: 10px;
    margin: 10px;
    font-size: medium;  
}